<div class="actionBox">
  <header>
    <h3 class="centre"><%= moment(start).format("Do MMMM YYYY") %> - <%= moment(end).format("Do MMMM YYYY") %>.</h3>
  </header>

  <div class="actionBox">
    <h3 class="centre">Average Weekly Income</h3>
    <p class="centre">Invoiced : £<%=weeklyIncome%></p>
    <p class="centre">HMRC declared : £<%=hmrcWeekly%></p>
  </div>

  <div class="actionBox">
    <h3 class="centre">Invoice Statistics</h3>
    <p class="centre">Created : <%=invoicesProduced%> (<%=invoicesPaid%> paid)</p>
    <p class="centre">Items : <%=itemsInvoiced%> (<%=itemsPaid%> paid)</p>
  </div>

</div>







<div class="moneyIn">
  <a class='toggle btn info' href="#money-in">Money Received £<%=incomings%></a>
  <div class="toggle-content" id="money-in">
    <% if (labourList.length > 0) { %>
      <div class="actionBox">
        <a class='toggle title' href="#labour">Labour (£<%=labour%>)</a>
        <div class="toggle-content" id="labour">
          <%labourList.forEach((item) => { %>
            <div class="actionBox">
              <p class='title'><%= moment(item.items.date).format("Do MMMM YYYY") %> (<a href="/invoices/<%= item._id%>">Invoice <%= item.invNo %></a>), £<%= item.items.fee%></p>
              <p><%= item.items.desc %></p>
            </div>
          <% }); %>
        </div>
      </div>
    <% } %>
    <% if (materialsList.length > 0) { %>
      <div class="actionBox">
        <a class='toggle title' href="#materials">Materials (£<%=materials%>)</a>
        <div class="toggle-content" id="materials">
          <%materialsList.forEach((item) => { %>
            <div class="actionBox">
              <p class='title'><%= moment(item.items.date).format("Do MMMM YYYY") %> (<a href="/invoices/<%= item._id%>">Invoice <%= item.invNo %></a>), £<%= item.items.fee%></p>
              <p><%= item.items.desc %></p>
            </div>
          <% }); %>
        </div>
      </div>
    <% } %>
    <% if (expensesList.length > 0) { %>
      <div class="actionBox">
        <a class='toggle title' href="#expenses">Expenses (£<%=expenses%>)</a>
        <div class="toggle-content" id="expenses">
          <%expensesList.forEach((item) => { %>
            <div class="actionBox">
              <p class='title'><%= moment(item.items.date).format("Do MMMM YYYY") %> (<a href="/invoices/<%= item._id%>">Invoice <%= item.invNo %></a>)</p>
              <p><%= item.items.desc %>, £<%= item.items.fee%></p>
            </div>
        <% }); %>
        </div>
      </div>
    <% } %>
    <a class='btn export' href="/reports/download?type=incoming&start=<%=start%>&end=<%=end%>">Export received <%= moment(start).format("Do MMMM YYYY") %> - <%= moment(end).format("Do MMMM YYYY") %> to a .csv file</a>
  </div>
</div>

<div class="moneyOut">
  <a class='toggle btn info' href="#deductions">HMRC Deductions £<%=deductions%></a>
  <div class="toggle-content" id="deductions">

    <% if (officeList.length > 0) { %>
    <div class="actionBox">
      <a class='toggle title' href="#office">Office, property and equipment (£<%=officeSum%>)</a>
      <div class="toggle-content" id="office">
        <%officeList.forEach((item) => { %>
          <div class="actionBox">
            <a class='title' href='/expenses/<%=item._id%>'><%= moment(item.date).format("Do MMMM YYYY") %>, £<%= item.amount%></a>
            <p><%= item.desc %></p>
          </div>
        <% }); %>
      </div>
    </div>
    <% } %>

    <% if (carList.length > 0) { %>
    <div class="actionBox">
      <a class='toggle title' href="#car">Car, van and travel expenses (£<%=carSum%>)</a>
      <div class="toggle-content" id="car">
        <%carList.forEach((item) => { %>
          <div class="actionBox">
            <a class='title' href='/expenses/<%=item._id%>'><%= moment(item.date).format("Do MMMM YYYY") %>, £<%= item.amount%></a>
            <p><%= item.desc %></p>
          </div>
        <% }); %>
      </div>
    </div>
    <% } %>

    <% if (clothingList.length > 0) { %>
    <div class="actionBox">
      <a class='toggle title' href="#clothing">Clothing expenses (£<%=clothingSum%>)</a>
      <div class="toggle-content" id="clothing">
        <%clothingList.forEach((item) => { %>
          <div class="actionBox">
            <a class='title' href='/expenses/<%=item._id%>'><%= moment(item.date).format("Do MMMM YYYY") %>, £<%= item.amount%></a>
            <p><%= item.desc %></p>
          </div>
        <% }); %>
      </div>
    </div>
    <% } %>

    <% if (staffList.length > 0) { %>
    <div class="actionBox">
      <a class='toggle title' href="#staff">Staff expenses (£<%=staffSum%>)</a>
      <div class="toggle-content" id="staff">
        <%staffList.forEach((item) => { %>
          <div class="actionBox">
            <a class='title' href='/expenses/<%=item._id%>'><%= moment(item.date).format("Do MMMM YYYY") %>, £<%= item.amount%></a>
            <p><%= item.desc %></p>
          </div>
        <% }); %>
      </div>
    </div>
    <% } %>

    <% if (resellingList.length > 0) { %>
    <div class="actionBox">
      <a class='toggle title' href="#reselling">Reselling goods (£<%=resellingSum%>)</a>
      <div class="toggle-content" id="reselling">
        <%resellingList.forEach((item) => { %>
          <div class="actionBox">
            <a class='title' href='/expenses/<%=item._id%>'><%= moment(item.date).format("Do MMMM YYYY") %>, £<%= item.amount%></a>
            <p><%= item.desc %></p>
          </div>
        <% }); %>
      </div>
    </div>
    <% } %>

    <% if (legalList.length > 0) { %>
    <div class="actionBox">
      <a class='toggle title' href="#legal">Legal and financial costs (£<%=legalSum%>)</a>
      <div class="toggle-content" id="legal">
        <%legalList.forEach((item) => { %>
          <div class="actionBox">
            <a class='title' href='/expenses/<%=item._id%>'><%= moment(item.date).format("Do MMMM YYYY") %>, £<%= item.amount%></a>
            <p><%= item.desc %></p>
          </div>
        <% }); %>
      </div>
    </div>
    <% } %>

    <% if (mktgList.length > 0) { %>
    <div class="actionBox">
      <a class='toggle title' href="#mktg">Marketing, entertainment and subscriptions (£<%=mktgSum%>)</a>
      <div class="toggle-content" id="mktg">
        <%mktgList.forEach((item) => { %>
          <div class="actionBox">
            <a class='title' href='/expenses/<%=item._id%>'><%= moment(item.date).format("Do MMMM YYYY") %>, £<%= item.amount%></a>
            <p><%= item.desc %></p>
          </div>
        <% }); %>
      </div>
    </div>
    <% } %>
    <a class='btn export' href="/reports/download?type=deductions&start=<%=start%>&end=<%=end%>">Export HMRC deductions <%= moment(start).format("Do MMMM YYYY") %> - <%= moment(end).format("Do MMMM YYYY") %> to a .csv file</a>
  </div>
</div>

<% if (owed) { %>
  <a class='toggle btn info' href="#owed">Invoices owed £<%=owed%></a>
  <div class="toggle-content" id="owed">
    <% owedList.forEach((invoice) => { %>
      <div class="actionBox">
        <p class='title'><a href="/invoices/<%= invoice._id.invoices_id%>">Invoice <%= invoice._id.invoice %></a></p>
        <p class='title'><a href="/clients/<%= invoice._id.clientLink%>"><%= invoice._id.client %></a>, £<%= invoice.total%></p>
      </div>
    <% }); %>
  </div>
<% } %>
