<div class="clientFields">

  <input type="hidden" name="_csrf" value="<%=csrfToken%>">

  <div class="form-field <%= errors.name ? 'form-field-invalid' : '' %>">
    <label for="name">Client Name</label>
    <input class="input" id="name" name="name" type="text" value="<%= data.name %>" />
    <% if (errors.name) { %>
      <div class="error"><%= errors.name.msg %></div>
    <% } %>
  </div>

  <div class="form-field <%= errors.phone ? 'form-field-invalid' : '' %>">
    <label for="phone">Phone</label>
    <input class="input" id="phone" name="phone" type="text" value="<%= data.phone %>" />
    <% if (errors.phone) { %>
      <div class="error"><%= errors.phone.msg %></div>
    <% } %>
  </div>

  <div class="form-field <%= errors.email ? 'form-field-invalid' : '' %>">
    <label for="email">Email</label>
    <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
    <% if (errors.email) { %>
      <div class="error"><%= errors.email.msg %></div>
    <% } %>
  </div>

  <div class="form-field <%= errors.address1 ? 'form-field-invalid' : '' %>">
    <label for="address1">Address 1</label>
    <input class="input" id="address1" name="address1" type="text" value="<%= data.address1 %>" />
    <% if (errors.address1) { %>
      <div class="error"><%= errors.address1.msg %></div>
    <% } %>
  </div>

  <div class="form-field <%= errors.address2 ? 'form-field-invalid' : '' %>">
    <label for="address2">Address 2</label>
    <input class="input" id="address2" name="address2" type="text" value="<%= data.address2 %>" />
    <% if (errors.address2) { %>
      <div class="error"><%= errors.address2.msg %></div>
    <% } %>
  </div>

  <div class="form-field <%= errors.postcode ? 'form-field-invalid' : '' %>">
    <label for="postcode">Postcode</label>
    <input class="input" id="postcode" name="postcode" type="text" value="<%= data.postcode %>" />
    <% if (errors.postcode) { %>
      <div class="error"><%= errors.postcode.msg %></div>
    <% } %>
  </div>


</div>
