<% if (admin) { %>
  <header>
    <a href="/expenses/new">add a new expense.</a>
  </header>
<% } %>

<p>for guidance see the <a href="https://www.gov.uk/expenses-if-youre-self-employed">hmrc website</a></p>

<% if (expenses.length > 0) { %>
  <h1>Previous Expenses.</h1>
  <% expenses.forEach((expense) => { %>
    <div class="expenses">
      <a href="/expenses/<%=expense._id%>">
      <p class='title'><a href="/expenses/<%=expense._id%>"><%=expense.category%>, £<%=expense.amount%></p>
              </a>
      <p><%=moment(expense.date).format("Do MMMM YYYY")%>, <%=expense.desc%>.</p>
    </div>
  <% }); %>
<% } %>
