<h1>Invoice.</h1>
<p><%= invoice.invNo %></p>
<p><%= invoice.date %></p>
<p><%= invoice.billTo.name %></p>
<p><%= invoice.billTo.email %></p>

<% invoice.items.forEach((item)=> {%>
  <p><%= item.date %></p>
  <p><%= item.desc %></p>
  <p><%= item.fee %></p>
<% }); %>
