<header>
  <h1>Invoice <%= invoice.invNo %>.</h1>
</header>


<div class="invoice-header">
  <p>Invoice Date : <%= moment(invoice.invDate).format("Do MMMM YYYY") %></p>
  <p>Client : <a href="/clients/<%= invoice.client._id %>"><%= invoice.client.name %></a></p>
  <p>Email : <%= invoice.client.email %></p>
  <p>Telephone : <%= invoice.client.phone %></p>
</div>

<div class="invoice-message">
  <h4><%= invoice.message%> </h4>
</div>

<div class="billed-items">
  <h3>Billed Items.</h3>
  <% invoice.items.forEach((item) => { %>
    <p><%= moment(item.date).format("dddd Do MMMM  YYYY") %>.</p>
    <p><%= item.desc %></p>
    <p>£<%= item.fee %></p>
  <% }) %>
</div>

<div class="total-due">
    <h3>Total Due £<%= total %></h3>
    <% if (invoice.datePaid) { %>
    <h4>Received with thanks <%= moment(invoice.datePaid).format("Do MMMM YYYY") %>.</h4>
    <% } %>
</div>

<div class="signature">
  <h4>kind regards,</br>
  <%= invoice.details.contact %></br>
  <%= invoice.details.email %></br>
  <%= invoice.details.phone %></h4>
</div>

<div class="pay-details">
  <h3>Payee Details.</h3>
  <p>UTR : <%= invoice.details.utr %></p>
  <p><%= invoice.details.bank %>, Sort Code : <%= invoice.details.sortcode %>, Account No: <%= invoice.details.accountNo %>.</p>
  <h4>(<%= invoice.details.terms %>)</h4>
</div>



<form method="post" action="/invoices/email?_method=post" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="hidden" name="id" value="<%= invoice._id %>">
  <div class="form-actions">
    <button class="btn" type="submit">Email Invoice</button>
  </div>
</form>

<% if (admin) { %>
  <form method="post" action="/invoices/edit?_method=post" novalidate>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="id" value="<%= invoice._id %>">
    <div class="form-actions">
      <button class="btn" type="submit">Edit Invoice</button>
    </div>
  </form>

  <% if (invoice.datePaid){ %>
    <form method="post" action="/invoices/unpaid?_method=PATCH" novalidate>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" name="id" value="<%= invoice._id %>">
      <div class="form-actions">
        <button class="btn" type="submit">Mark as Unpaid</button>
      </div>
    </form>

  <% console.log(invoice._id)%>
  <% } else { %>

    <form method="post" action="/invoices/paid?_method=PATCH" novalidate>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" name="id" value="<%= invoice._id %>">
      <div class="form-actions">
        <button class="btn" type="submit">Mark as Paid</button>
      </div>
    </form>

    <% console.log(invoice._id)%>

  <% } %>

  <form method="post" action="/invoices?_method=DELETE" novalidate>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="id" value="<%= invoice._id %>">
    <input type="hidden" name="number" value="<%= invoice.invNo %>">
    <input type="hidden" name="name" value="<%= invoice.client.name %>">
    <input type="hidden" name="paid" value="<%= invoice.paid %>">
    <div class="form-actions">
      <button class="btn danger" type="submit">Delete</button>
    </div>
  </form>
<% } %>
