<h1>Invoice <%= invoice.invNo %>.</h1>

<div class="invoice-header">
  <p>Invoice Date : <%= moment(invoice.invDate).format("Do MMMM YYYY") %></p>
  <p>Client : <a href="/clients/<%= invoice.client._id %>"><%= invoice.client.name %></a></p>
  <p>Email : <%= invoice.client.email %></p>
  <p>Telephone : <%= invoice.client.phone %></p>
</div>

<div class="invoice-message">
  <h4><%= invoice.message%> </h4>
</div>

<div class="billed-items">
  <h3>Billed Items.</h3>
  <% invoice.items.forEach((item) => { %>
    <p><%= moment(item.date).format("dddd Do MMMM  YYYY") %>.</p>
    <p><%= item.desc %></p>
    <p>£<%= item.fee %>.</p>
  <% }) %>
</div>

<div class="total-due">
    <h3>Total Due £<%= total %>.</h3>
</div>

<div class="signature">
  <h4>with thanks,</br>
  <%= invoice.details.contact %></br>
  <%= invoice.details.email %></br>
  <%= invoice.details.phone %></h4>
</div>

<div class="pay-details">
  <h3>Payee Details.</h3>
  <p>tax reference : <%= invoice.details.utr %></p>
  <p><%= invoice.details.bank %>, Sort Code : <%= invoice.details.sortcode %>, Account No: <%= invoice.details.accountNo %>.</p>
  <h4>(<%= invoice.details.terms %>)</h4>
</div>
