<h1>Invoice <%= invoice.invNo %>.</h1>

<p><%= invoice.date %></p>
<p><%= invoice.client.name %> (<%= invoice.client.email %>)</p>

<% invoice.items.forEach((item) => { %>
  <p><%= item.date %></p>
  <p><%= item.desc %> £<%= item.fee %></p>
<% }) %>
