<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Make a new invoice.</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/invoices" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <div class="form-field">
    <label for="clientName">Bill to</label>
    <select name="clientName" autofocus>
      <% clients.forEach((client) => {%>
        <option value="<%=client._id%>"><%=client.clientName%></option>
      <%})%>
        <option value="newclient">Add New Client</option>
    </select>
  </div>

  <div class="form-field <%= errors.invNo ? 'form-field-invalid' : '' %>">
    <label for="invNo">Invoice Number</label>
    <input class="input" id="invNo" name="invNo" type="number" value="<%=data.invNo%>" />
    <% if (errors.invNo) { %>
      <div class="error"><%= errors.invNo.msg %></div>
    <% } %>
  </div>

  <p>Add an item.</p>

  <div class="form-field <%= errors.billedDate ? 'form-field-invalid' : '' %>">
    <label for="billedDate">Date</label>
    <input class="input" id="billedDate" name="billedDate" type="date" value="<%=data.billedDate%>" />
    <% if (errors.billedDate) { %>
      <div class="error"><%= errors.billedDate.msg %></div>
    <% } %>
  </div>

  <div class="form-field <%= errors.billedDesc ? 'form-field-invalid' : '' %>">
    <label for="billedDesc">Details</label>
    <textarea class="input" id="billedDesc" name="billedDesc" rows="6"><%= data.billedDesc %></textarea>
    <% if (errors.billedDesc) { %>
      <div class="error"><%= errors.billedDesc.msg %></div>
    <% } %>
  </div>

  <div class="form-field <%= errors.billedAmount ? 'form-field-invalid' : '' %>">
    <label for="billedAmount">£ Amount</label>
    <input class="input" id="billedAmount" name="billedAmount" type="text" value="" />
    <% if (errors.billedAmount) { %>
      <div class="error"><%= errors.billedAmount.msg %></div>
    <% } %>
  </div>

  <p>+ another item?</p>

  <div class="form-actions">
    <button class="btn" type="submit">Create</button>
  </div>
</form>
