<h1>Dashboard</h1>
<div class="summary">
  <p><%= noInvoicesProduced %> invoices.</p>
  <p><%= uniqueClients %> clients.</p>
  <p>what about average weekly earnings</p>
  <p>£<%= paid %> received.</p>

<% if (unpaidInvoiceList.length > 0) { %>
  <p>£<%= owed %> outstanding.</p>




</div>

<div class="outstanding-invoices">
  <h3>Unpaid Invoices.</h3>
    <% unpaidInvoiceList.forEach((invoice) => { %>
      <form method="post" action="/invoices/paid" novalidate>
        <p><a href="/invoices/<%=invoice._id.invoice_id%>">Invoice <%= invoice._id.invoice %></a> for
          <a href="/clients/<%= invoice._id.clientLink %>"><%= invoice._id.client %></a>
        </p>
        <p>£<%= invoice.total%> due <%= moment(invoice._id.date).fromNow()%>.</p>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      	<input type="hidden" name="id" value="<%= invoice._id.invoice_id %>">
        <div class="form-actions">
          <button class="btn" type="submit">Mark as Paid</button>
        </div>
      </form>
    <% }); %>

<% } %>

</div>
