<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Invoice <%= invoice.invNo %></title>
    <style>
      @media print {
         body {
           color: #000;
           background: none;
           margin: 1cm;
           padding: 0;
         }
         td {
           padding: 0;
           margin:0;
                      vertical-align: top;
         }
         p {
           font-size: .8em;
         }
         .header {
           border-top : 1px solid #000;
           border-bottom : 1px solid #000;
           padding : 0;
           width : 100%;
         }
         .header p {
           font-size: 1em;
           text-align: right;
           padding :0;
         }
         .left h1 {
           padding : 0;
         }
         .to {
           width : 100%;
           padding : 1em;
         }
         .to p {
           padding:0;
           margin : 0;
         }
         .to tr {
           margin : .5em 0 .5em 0;
           padding :0;
         }
         .to td {
           vertical-align: top;
           padding : 0;
           margin : 0;
         }
         .invoice-message, .thanks {
           text-align: center;
           font-style: italic;
           font-size: 1em;
           margin : 0;
           padding: 0;
         }
         .billed-items {
           width : 100%;
           margin-top: 1em;
           margin-bottom: 2em;
         }
         .billed-items .new-row td p {
           margin-top: 1em;
         }
         .billed-items tr td p{
           padding :0;
           margin : 0;
         }
         .date {
           font-weight: bold;
           margin :0;
           padding : 0;
         }
         td .money {
           text-align: right;
         }
         .align-right {
           text-align: right;
         }
         .align-left {
           text-align: left;
         }
         .capitalize {
           text-transform: capitalize;
         }
         .footer {
           border-top : 1px solid #000;
           border-bottom : 1px solid #000;
           margin-top: 1em;
           width : 100%;
         }
         .contact {
           text-align: center;
           font-size: .75em;
         }
         .payment {
           margin : 1em;
         }
         .align-center {
           text-align: center;
         }
         td p.details {
           text-align: left;
           padding :0;
           margin : 0;
         }
      }
    </style>
  </head>
  <body>
    <table class='header'>
      <tr>
        <td class='left'>
          <h1>Invoice <%= invoice.invNo %></h1>
        </td>
        <td class='address'>
          <p><%= moment(invoice.invDate).format("Do MMMM YYYY") %></p>
          <p>Total Due £<%= total %></p>
        </td>
      </tr>
    </table>
    <table class='to'>
      <tr>
        <td>
          <p class='align-right'>to : </p>
        </td>
        <td>
          <p class='capitalize'><%=invoice.client.name %></p>
          <p class='capitalize'><%=invoice.client.address1%></p>
          <% if (invoice.client.address2){ %>
            <p class='capitalize'><%=invoice.client.address2%></p>
          <% } %>
          <% if (invoice.client.address3){ %>
            <p class='capitalize'><%=invoice.client.address3%></p>
          <% } %>
          <p><%=invoice.client.postcode%></p>
        </td>
        <td>
          <p class='align-right'>from : </p>
        </td>
        <td>
          <p class='capitalize'><%=invoice.details.business%></p>
          <p class='capitalize'><%=invoice.details.address1%></p>
          <% if (invoice.details.address2){ %>
            <p class='capitalize'><%=invoice.details.address2%></p>
          <% } %>
          <% if (invoice.details.address3){ %>
            <p class='capitalize'><%=invoice.details.address3%></p>
          <% } %>
          <p><%=invoice.details.postcode%></p>
        </td>

      </tr>

    </table>
    <table class="billed-items">
      <% itemsByDateAndType.forEach((item) => { %>
        <tr class='new-row'>
          <td>
            <p class='date'><%= moment(item._id).format("dddd Do MMMM  YYYY")%>.</p>
          </td>
        </tr>
            <% item.item.forEach((charge)=> { %>
            <tr>
              <td>
                <p class='details'><%= charge.type %>, <%= charge.desc %></p>
              </td>
              <td>
                <p class="money">£<%= charge.fee %></p>
              </td>
            </tr>
            <% }) %>
        <% }) %>


      <tr class='new-row'>
        <td class='align-right'><p>Total Due</p></td>
        <td class='align-right'><p>£<%= total %><p></td>
      </tr>
    </table>
    <% if (invoice.paid) { %>
      <h2 class='thanks'>Received with thanks <%= moment(invoice.datePaid).format("Do MMMM YYYY") %>.</h2>
    <% } %>
    <div class="payment">
      <p class='capitalize align-center'><%= invoice.details.bank %>, Sort Code : <%= invoice.details.sortcode %>, Account No: <%= invoice.details.accountNo %>, UTR : <%= invoice.details.utr %>.</p>
      <p class='align-center'>(<%= invoice.details.terms %>)</p>
    </div>
    <div class="footer">
      <p class='contact'>
        <span class='capitalize'><%= invoice.details.contact %></span>,   tel : <%= invoice.details.phone %>,   email : <%=invoice.details.email %></p>
      </p>

    </div>
  </body>
</html>
