<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h1>Sign In to SME</h1>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/login" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-field <%= errors.email ? 'form-field-invalid' : '' %>">
    <label for="email">Email</label>
    <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
    <% if (errors.email) { %>
      <div class="error"><%= errors.email.msg %></div>
    <% } %>
  </div>
  <div class="form-field <%= errors.password ? 'form-field-invalid' : '' %>">
    <label for="password">Password</label>
    <input class="input" id="password" name="password" type="password" value="<%= data.password %>" />
    <% if (errors.password) { %>
      <div class="error"><%= errors.password.msg %></div>
    <% } %>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
</form>
