<header>
  <h2><%=client.name%></h2>
  <h4><%=client.address1%></h4>
  <h4><%=client.address2%></h4>
  <h4><%=client.address3%></h4>
  <h4><%=client.postcode%></h4>
  <h4><%=client.phone%></h4>
  <h4><%=client.email%></h4>
  <h2>£<%= total %> previously billed.</h2>
</header>
<% itemsList.forEach((item) => { %>
  <div class="item">
    <h4><%= moment(item.items.date).format("Do MMMM YYYY") %>
       (<a href="/invoices/<%= item._id%>">Invoice <%= item.invNo %></a>)</h4>
    <p><%= item.items.desc %></p>
    <p>£<%= item.items.fee %>

      <% if (item.paid) { %>
        ( paid <%= moment(item.datePaid).format("Do MMMM YYYY")%> )
      <% } else { %>
        ( outstanding )
      <% } %>

    </p>
  </div>
<% }); %>
<% if (admin) { %>
  <div class="edit">
    <form method="get" action="/clients/edit/<%=client._id%>" novalidate>
      <div class="form-actions">
        <button class="btn" type="submit">Edit Details</button>
      </div>
    </form>
  </div>
  <div class="delete">
    <form method="post" action="/clients?_method=delete" novalidate>
      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
      <input type="hidden" name="id" value="<%=client._id%>">
      <div class="form-actions">
        <button class="btn danger" type="submit">Delete</button>
      </div>
    </form>
  </div>
<% } %>
