<h1>Invoice Information.</h1>

<h3>Contact Details.</h3>
<p>farewell : <%= detail.farewell %></p>
<p>contact name : <%= detail.contact %></p>
<p>contact email : <%= detail.email %></p>
<p>contact number : <%= detail.phone %></p>

<h3>Pay Details.</h3>
<p>tax reference : <%=detail.utr %></p>
<p>Bank Name : <%= detail.bank %></p>
<p>Sort Code : <%= detail.sortcode %></p>
<p>Account No: <%= detail.accountNo %></p>

<h3>Invoice Terms.</h3>
<p><%= detail.terms %></p>

<form method="get" action="/details/edit" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-actions">
    <button class="btn" type="submit">Edit</button>
  </div>
</form>
